<div class="banner">
    <ul class="slides">
        {% for slides in slider %}
            <li>
                <a href="{{ slides.link }}">
                    <img src="{{ slides.media_thumbnail }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h4>{{ slides.title }}</h4>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <style scoped>
        .banner { position: relative; overflow: auto; }
        .banner li { list-style: none; }
        .banner ul li { float: left; }
    </style>
    <script>
        $(function() {
            $('.banner').unslider();
        });
    </script>
</div>