{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12" style="margin-top: 30px;">
        <form class="col s12 m6 offset-m3" method="post" action="" role="form">
          {{ form.csrf_token }}
          <div class="input-field col s12">
            {{ form.email() }}
            <label for="email">Username</label>
          </div>
          <div class="input-field col s12">
            {{ form.password() }}
            <label for="password">Password</label>
          </div>
          <div class="form-group required">
            {{ form.submit(class_="btn btn-default green") }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{  super() }}
  <script>
    {% include '_flashed_messages.html' %}
  </script>
{% endblock scripts %}

{% block footer %}
  {{ super() }}
{% endblock footer %}